
.login-container {
  display: flex;
  align-items: center;
}

.side-image {
  max-width: 50%;
  height: auto;
  margin-right: 50px; 
}

.login-container {
  max-width: 600px; 
  margin: auto;
}

@media (max-width: 768px) {
  .login-container {
    max-width: 80%; 
  }

  .side-image {
    display: none; 
  }

  Form.Control {
    width: 100%;
  }
}
