.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    max-width: 1530px;
  }

  .card {
    width: 15rem;
    margin: 10px;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }