*{
    margin: 0;
    padding: 0;
}

/* .background-image{
    background-image: url('https://cdn.pixabay.com/photo/2023/09/03/15/45/ai-generated-8230937_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} */



.hone{
    font-family: 'Afacad';
    color: #72A0C1;
}
.htwo{
    font-family: 'Afacad';
    color: black;
    }



    /* Design */

    *{
        margin: 0;
        padding: 0;
    }
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  background-color: #ecf9ff;
} */

body {
  color: #272727;
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  /* padding: 1rem; */
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}



/* caraousel */









.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* .card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #2b2a2a 40%, #000000 100%);
} */

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
/* .card:hover {
  transform: scale(1.1);
}
.cards_item {
  transition: transform 0.2s;
} */
.responsive{
  width: 100%;
  height: auto;
}



/* parallax */


.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1629909613654-28e377c37b09?q=80&w=2068&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */

.demo{
  background: linear-gradient(to bottom left, #ffffff 40%, #72A0C1 100%);
}



.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}